.env
.project
.settings
.buildpath

Homestead.json
Homestead.yaml

_ide_helper.php
oauth-private.key
oauth-public.key

/.idea
/vendor
/node_modules
/public/storage
/public/build

/storage/app/
/storage/debugbar/
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs/
